<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Portfolio | Emilie Morissette</title>

</head>

<body>
  <div class="grid-container">
    <div class="description-container">
      <div class="navbar">
        <div class="social-icons">
         <i class="fab fa-github-square"></i></li>
         <i class="fab fa-linkedin"></i></li>
        </div>
        <!-- <img id="floral-frame" src="https://ui-ex.com/images/flourishes-vector-floral-3.png" width=230 height=230 alt=""> -->
        <div id="horn">
          <img src="http://www.pngmaster.com/images/6/horns-psd-official-psds-6873.png" width=75% height=200 alt="antlier">
          <div class="button-wrapper">
            <a href="" class="button-contact">Contact me!</a>
          </div>
        </div>
      </div>


      <div class="description">
          <p>
            Having lived in several countries, being a mom and a top full-stack developer aspirant makes me a culturally-sensitive and adaptable person, driven by a sense of efficiency and an extra whipped cream dose of patience!
          </p>
          <p>
            Coming from a business background,
            I leverage my business skills to my dev ones to create value for yourself and your customers.
          </p>
          <p>
            My goal is pretty straight forward: Make you happy and make your customers smile of satisfaction.
          </p>
      </div>
    </div>

    <div class="name">
      <h1>Emilie Morissette</h1>
      <p>Business-Driven Developer</p>
      <!-- <img src="https://ui-ex.com/images/flourishes-vector-floral-3.png" width=200 height=200 alt="">
 -->
    </div>

    <div class="card-wrapper" style="background-image:url(https://i.pinimg.com/originals/0c/df/ad/0cdfadfdd26d73d71004700525686aca.png)">
      <div id="flowers">
        <img src="https://i.dlpng.com/static/png/3871647_preview.png" alt="flowers" width="120%">
      </div>
      <div class="card" id="initab-card">
        <img id="clone" src="https://as1.ftcdn.net/jpg/01/21/22/68/500_F_121226810_66lOCifwiQbKTaf1J9fnQa38IqTJANr7.jpg" width=230 height=230 alt="clone" >
        <img id="frame-1" src="https://ui-ex.com/images/vector-frames-wood-5.png" width=310 height=310 alt="wooden frame" >
      <div class="initab">
        <a href="" class="initab-button">Landing Page Clone</a>
      </div>
      </div>
      <div class="card" id="airbnb-card">
        <p>2</p>
        <img id="frame-2" src="http://www.supercoloring.com/sites/default/files/styles/drawing_full/public/fif/2017/11/wood-square-picture-frame-paper-craft.png" width=300 height=300 alt="wooden frame">
      </div>
      <div class="card" id="asyla-card">
        <img id="frame-3" src="https://cdn.pixabay.com/photo/2016/06/13/23/17/frame-1455417_960_720.png" width=300 height=300 alt="iron frame">
        <p>3</p>
      </div>
      <div class="card" id="new-project-card">
        <img id="frame-4" src="https://cdn.pixabay.com/photo/2016/06/14/19/42/frame-1457361_960_720.png" width=300 height=300 alt="mirror frame">
        <p>4</p>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
