.card-wrapper {
  border: 2px solid red;
  grid-column: 2 / span 2;
  grid-row: 2 / span 4;
  overflow-y: scroll;
}

.card {
  border: 2px solid red;
  width: 20vw;
  height: 20vw;
  margin: 30px auto 30px auto;
}

#initab-clone {
  border: 2px solid blue;
  align-items: center;
  justify-content: center;
  // opacity: 0.5;
  .img {
    display: flex;
  }
}
