.card-wrapper {
  border: 2px solid red;
  grid-column: 2 / span 2;
  grid-row: 2 / span 4;
  overflow-y: scroll;
  background-color: pink;
}

.card {
  border: 2px solid red;
  width: 20vw;
  height: 20vw;
  margin: 100px auto 100px auto;
}

#initab-card {
  align-items: center;
  justify-content: center;
  // opacity: 0.6;
  position: relative;

  &:hover {
    // opacity: 1;
  }

  .img {
    display: flex;
  }
}

.initab {
  position: absolute;

  .initab-button {
    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: white;
    text-decoration: none;
  }
}

#initab-card {
  position: relative;

  #clone {
    position: relative;
  }

  #frame {
    position: absolute;
  }
}
