.card-wrapper {
  // border: 2px solid red;
  grid-column: 2 / span 2;
  grid-row: 2 / span 5;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: auto 500px;
}

#flowers {
  position: fixed;
}

.card {
  // border: 2px solid red;
  width: 20vw;
  height: 20vw;
  margin: 100px auto 100px auto;
  align-items: center;
  justify-content: center;
  position: relative;

  .img {
    display: flex;
  }
}

.initab {
  position: absolute;

  .initab-button {
    padding: 20px;
    border-radius: 5px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-weight: lighter;
    color: grey;

    &:hover {
      color: #5397D6;
    }
  }
}

#initab-card {
  position: relative;
  &:hover {
    transform: rotate(5deg);
  }


  #clone {
    position: relative;
  }

  #frame-1 {
    position: absolute;

  }
}

#airbnb-card {
  position: relative;
  &:hover {
      transform: rotate(5deg);
    }

  // #clone {
  //   position: relative;
  // }

  #frame-2 {
    position: absolute;

  }
}

#asyla-card {
  position: relative;
  &:hover {
      transform: rotate(5deg);
    }

  // #clone {
  //   position: relative;
  // }

  #frame-3 {
    position: absolute;

  }
}

#new-project-card {
  position: relative;
  &:hover {
      transform: rotate(5deg);
      // background-color: red;
    }

  // #clone {
  //   position: relative;
  // }

  #frame-4 {
    position: absolute;

  }
}
