.description {
  border: 2px solid green;
  grid-column: 1;
  grid-row: 2 / span 4;
  width: 28vw;
  margin: auto;
  letter-spacing: 1px;
  text-align: center;
  vertical-align: middle;
}

.contact-me {
  // grid-column: 1;
  // grid-row: 1 / span 1;
  text-align: center;

  img {
    opacity: 0.8;
  }

  a.button-contact:hover {
    font-size: 25px;
  }
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;

  a.button-contact {
    padding: 10px;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
}

// .text {
//   border: 2px solid blue;
//   font-size: 16px;
// }
