.description-container {
  // border: 2px solid green;
  grid-column: 1;
  grid-row: 1 / span 6;
}

.navbar {
  border: 2px solid green;
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(250,250,250);
  height: 130px;
  margin-bottom: 30vh;

  .social-icons {
    border: 2px solid red;
    margin: auto;

  }

  #horn {
    // border: 2px solid red;
    opacity: 0.8;
    position: relative;
    text-align: center;
  }
}


.description {
  // border: 2px solid red;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
}

.button-wrapper {
  // border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;

  a.button-contact {
    padding: 10px;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    color: #E75A7C;
    &:hover {
      font-size: 25px;
    }
  }
}
